body {
    padding: 0;
    margin: 0;
    background-color: off #f5f5f5;
}

/* font-family: "Anta", sans-serif; */


.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.font-size {
    font-size: 20px;
}

.navbar-container {
    /* background-color: #b3ffcb; */
    background-color: #404040;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;

}

.head-img-container {
    /* background-color: bisque; */
    height: 70px;
    text-align: center;
    display: flex;

}

.navbar-logo-1 {
    height: 100px;
    margin: 5px;
    margin-top: -12px;

}

.navbar-logo-2 {
    height: 40px;
    margin: 5px;
    margin-top: 14px;

}

.navbar-logo-3 {
    height: 80px;
    margin: 5px;
    margin-top: -5px;
    background-color: aliceblue;
    border-radius: 50px;

}

/* .menus-container{
    /* background-color: blue;
} */
.menu {
    text-decoration: none;
    margin: 30px;
    font-size: 20px;

    color: white;
}


.signup-btn {
    padding: 10px 18px;
    border-radius: 20px;
}



.signup-btn {
    background-color: #33ff74;
    font-weight: bold;
    border: none;
    border: 2px solid #008028;
}

.signup-btn:hover {
    background-color: #008028;
    font-weight: bold;
    border: 2px solid #008028;
    color: white;
    box-shadow: 0 0 2px 2px white;
    transition: 0.5s;
    cursor: pointer;

}
/* body section */
.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }
  .heading-text{ 
    width: 1400px;
    margin: 30px 30px;
    margin-bottom: 10px;
    padding: 50px 30px;
    border-right: double rgb(190, 227, 134);
    
  }
  .heading{
    margin-left: 150px;
    font-size: medium;
  }
  .s-animal{
    background-color: aquamarine;
    width: 800px;
    height: 450px;
    margin: 20px 5px;
    margin-left: 60px;
    padding: 50px 30px;
    border-radius: 20px;
    border: solid rgba(23, 255, 178, 0.963);
    box-shadow: 10px 15px 30px 8px rgb(157, 156, 156);
  }
  .animal-img{
    width: 480px;
    margin-top: -400px ;
    margin-left: 850px;
    padding: 20px;
  }
  .animal-midTop{
    border-radius: 20px;
    box-shadow: 10px 8px 20px 5px rgb(157, 156, 156);
  }