*{
    padding: 0;
    margin: 0;
}

.body{
    border: none;
}

.hedding-container{
    font-family: "Anta", sans-serif;
    display: inline-block;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 10px;
    background-color: skyblue;
}
.about{
    color: black;
    
}
.icon{
    color: black;
}

.headding{
    display: flex;
    align-items: center;
    justify-content: center;
    
}