*{
    padding: 0;
    margin: 0;
}

.body{
    border: none;
}
.brand-logo{
    width: 130px;
}

.hedding-container{
    font-family: "Anta", sans-serif;
    display: inline-block;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 10px;
    background-color: black;
}
.about{
    color: white;
    
}
.social-media-image{
    width: 20px;
}

.headding{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.address{
    color: white;
    
}
