body {
    padding: 0;
    margin: 0;
    background-color: off #f5f5f5;
}



    /* font-family: "Work Sans", sans-serif; */
    
  

/* font-family: "Anta", sans-serif; */


.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.font-size {
    font-size: 20px;
}

.navbar-container {
    /* background-color: #b3ffcb; */
    background-color: #404040;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;

}

.head-img-container {
    /* background-color: bisque; */
    height: 70px;
    text-align: center;
    display: flex;

}

.navbar-logo-1 {
    height: 100px;
    margin: 5px;
    margin-top: -12px;

}

.navbar-logo-2 {
    height: 40px;
    margin: 5px;
    margin-top: 14px;

}

/* .menus-container{
    /* background-color: blue;
} */
.menu {
    text-decoration: none;
    margin: 30px;
    font-size: 20px;

    color: white;
}


.signup-btn {
    padding: 10px 18px;
    border-radius: 20px;
}



.signup-btn {
    background-color: #33ff74;
    font-weight: bold;
    border: none;
    border: 2px solid #008028;
}

.signup-btn:hover {
    background-color: #008028;
    font-weight: bold;
    border: 2px solid #008028;
    color: white;
    box-shadow: 0 0 2px 2px white;
    transition: 0.5s;
    cursor: pointer;

}

/* body section */

.head-img {
    width: 100%;
    height: 470px;
    position: relative;
}

/* .head-img-logo{
    height: 120px;
    position: absolute;
    top: 120px;
    left: 130px;
} */

.head-img-text {
    position: absolute;
    top: 220px;
    left: 100px;
    color: white;
    font-size: 40px !important;
    font-weight: bold;
    box-shadow: 0 0 4px 3px greenyellow;
    padding: 10px;
}

.head-img-btn {
    background-color: #33ff74;
    padding: 12px 25px;
    position: absolute;
    bottom: 200px;
    left: 200px;
    border-radius: 20px;
    border: 2px solid #259549;
    font-weight: bold;
    box-shadow: 0 0 2px 2px #78e79b;

}

/* special animal info  */

.special-animal-container {

    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

/* .special-animal-img-container{
    background-color: #33ff74;
    height: 300px;
} */


.spe-animal-desc-container {

    /* background-color: #33ff74; */
    height: 580px;
    width: 650px;
    padding: 10px;
    font-family: "Anta", sans-serif;
}

.spe-animal-img {
    height: 380px;
    width: 520px;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px gray;
    margin-top: 110px;
}

/* history section */

.history-container {
    padding: 10px;
    /* background-color: #33ff74; */
    display: flex;
    justify-content: space-around;
    height: 440px;
    text-align: center;
}


.history-desc-container {
    background-color: #79ee9e;
    height: 410px;
    width: 600px;
    border-radius: 10px;
    padding: 10px;
    font-family: "Anta", sans-serif;
}

.history-text-font-size{
    font-size: 25px !important;
}

.history-img-container {
    /* background-color: aqua; */

}

.history-img {
    height: 355px;
    width: 550px;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px gray;
    margin-top: 30px;


}

.welcome-heading-container {
    background-color: #5bf68c;
    text-align: center;
}

.history-heading {
    font-size: 30px;
    text-align: center;


}


/* history know more section videos */

.know-more-container {
    text-align: center;
    font-size: 20px;
}


.mudu-park-video-container {
    /* background-color: antiquewhite; */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    /* background-color: #85fbaa; */
}

.know-more-text {
    box-shadow: 0 0 4px 3px greenyellow;
}

.mudu-park-video-div {
    background-color: tomato;
    width: 400px !important;
    height: 280px !important;
    margin: 20px;
    position: relative;
}


.iframe-mudu-park-video-div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}









@media screen and (max-width:600px) {

    .navbar-container {
        padding: 5px;

    }

    .navbar-logo-1 {
        height: 70px;
        margin: 5px;
        margin-top: -1px;

    }

    .navbar-logo-2 {
        height: 30px;
        margin: 5px;
        margin-top: 20px;

    }

    .menu {
        margin: 10px;
        font-size: 10px;
    }


    .signup-btn {
        padding: 7px 8px;
        font-size: 10px;
    }

    /* body section */

    .head-img {
        height: 350px;

    }

    .head-img-text {

        top: 140px;
        left: 80px;
        font-size: 15px;
        padding: 10px;
    }

    .head-img-btn {
        padding: 8px 15px;
        position: absolute;
        bottom: 270px;
        left: 90px;
        font-size: 10px;
    }

    /* special animal info  */

    .special-animal-container {
/* 
        background-color: aqua; */
        height: 630px;
        flex-direction: column;
        align-items: center;
        font-family: "Anta", sans-serif;

    }

    .special-animal-heading {
        font-size: 20px;
    }

    .spe-animal-desc-container {
        font-size: 10px;
        /* background-color:#33ff74; */
        height: auto;
        width: auto;
    }

    .spe-animal-desc {
        /* background-color: #33ff74; */
        height: 320px;
        width: 500px;
        padding: 20px;
    }

    .special-animal-img-container {
        /* background-color: rgb(255, 179, 0); */
        height: 240px;
        align-items: center;

    }


    .spe-animal-img {
        height: 220px;
        width: 280px;
        margin: 0;
    }

    /* history section */



    .history-container {
        padding: 10px;
        /* background-color: #33ff74; */
        display: flex;
        flex-wrap: wrap;
        height: auto;
        text-align: center;

    }

    .welcome-heading {
        font-size: 22px;
    }


    .history-desc-container {
        height: auto;
        width: 500px;
        margin: 30px;
        font-size: 13px;
    }

    .history-img-container {
        /* background-color: aqua; */

    }

    .history-img {
        height: 220px;
        width: 300px;
    }

    .welcome-heading-container {
        background-color: #33ff74;
        text-align: center;
    
    }

    .history-heading {
        font-size: 30px;
        text-align: center;
    }

    /* history know more section videos */

    .know-more-container {
        text-align: center;
        
    }

    .know-more-text{
        font-size: 20px;

    }



    .mudu-park-video-container {
        /* background-color: antiquewhite; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .mudu-park-video-div {
        width: 290px !important;
        height: 270px !important;
        margin: 20px;
        position: relative;
        align-items: center;
    }


    .iframe-mudu-park-video-div {
        position: absolute;
        left: 0;
        top: 0;
    }
}

@media screen and (min-width:601px) and (max-width:660px) {
    .signup-btn {
        width: 90px;
    }

}



@media screen and (min-width:601px) and (max-width:768px) {
    .navbar-container {
        padding: 5px;

    }

    .navbar-logo-1 {
        height: 80px;
        margin: 5px;
        margin-top: -1px;

    }

    .navbar-logo-2 {
        height: 37px;
        margin: 5px;
        margin-top: 20px;

    }

    .menu {
        margin: 10px;
        font-size: 13px;
    }


    .signup-btn {
        padding: 9px 10px;
        font-size: 13px;
    }

    /* body section */

    .head-img {
        height: 350px;

    }

    .head-img-text {

        top: 140px;
        left: 80px;
        font-size: 20px;
        padding: 10px;
    }

    .head-img-btn {
        padding: 8px 15px;
        position: absolute;
        bottom: 270px;
        left: 90px;
        font-size: 14px;
    }

    /* special animal info  */

    .special-animal-container {

        /* background-color: aqua; */
        height: auto;
        flex-direction: column;
        align-items: center;


    }

    .special-animal-heading {
        font-size: 20px;
    }

    .spe-animal-desc-container {
        /* background-color: #33ff74; */
        height: auto;
        width: 500px;
        padding: 20px;
        font-family: "Anta", sans-serif;

    }

    .special-animal-desc {

        font-size: 14px;
    }

    .special-animal-img-container {
        /* background-color: rgb(255, 179, 0); */
        height: 240px;
        align-items: center;

    }


    .spe-animal-img {
        height: 240px;
        width: 350px;
        margin: 10px;
    }

    /* history section */



    .history-container {
        padding: 10px;
        /* background-color: #33ff74; */
        display: flex;
        flex-wrap: wrap;
        height: auto;
        text-align: center;

    }

    .welcome-heading {
        font-size: 22px;
    }


    .history-desc-container {
        height: auto;
        width: 500px;
        margin: 30px;
        font-size: 14px;
    }

    .history-img-container {
        /* background-color: aqua; */

    }

    .history-img {
        height: 240px;
        width: 350px;
    }

    .welcome-heading-container {
        background-color: #33ff74;
        text-align: center;
    }

    .welcome-heading{
        font-size: 25px;
    }

    .history-heading {
        font-size: 30px;
        text-align: center;
    }

    /* history know more section videos */

    .know-more-container {
        text-align: center;
    }

    .font-size {
        font-size: 18px;
    }


    .mudu-park-video-container {
        /* background-color: antiquewhite; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .mudu-park-video-div {
        width: 290px !important;
        height: 270px !important;
        margin: 20px;
        position: relative;
        align-items: center;
    }


    .iframe-mudu-park-video-div {
        position: absolute;
        left: 0;
        top: 0;
    }


}



@media screen and (min-width:769px) and (max-width:992px) {
    .navbar-container {
        padding: 5px;

    }

    .navbar-logo-1 {
        height: 80px;
        margin: 5px;
        margin-top: -1px;

    }

    .navbar-logo-2 {
        height: 37px;
        margin: 5px;
        margin-top: 20px;

    }

    .menu {
        margin: 10px;
        font-size: 14px;
    }


    .signup-btn {
        padding: 9px 15px;
        font-size: 13px;
    }

    /* body section */

    .head-img {
        height: 350px;

    }

    .head-img-text {

        top: 140px;
        left: 80px;
        font-size: 27px;
        padding: 10px;
    }

    .head-img-btn {
        padding: 8px 14px;
        position: absolute;
        bottom: 270px;
        left: 90px;
        font-size: 17px;
    }

    /* special animal info  */

    .special-animal-container {

        /* background-color: aqua; */
        height: auto;
        flex-direction: column;
        align-items: center;


    }

    .special-animal-heading {
        font-size: 20px;
    }

    .spe-animal-desc-container {
        /* background-color: #33ff74; */
        height: auto;
        width: 640px;
        padding: 20px;
        font-family: "Anta", sans-serif;

    }

    .special-animal-desc {

        font-size: 14px;
    }

    .special-animal-img-container {
        /* background-color: rgb(255, 179, 0); */
        height: 340px;
        align-items: center;

    }


    .spe-animal-img {
        height: 280px;
        width: 380px;
        margin: 30px;
    }

    /* history section */



    .history-container {
        padding: 10px;
        /* background-color: #33ff74; */
        display: flex;
        flex-wrap: wrap;
        height: auto;
        text-align: center;

    }

    .welcome-heading {
        font-size: 25px;
    }


    .history-desc-container {
        height: auto;
        width: 600px;
        margin: 30px;
        font-size: 14px;
    }

    .history-img-container {
        /* background-color: aqua; */

    }

    .history-img {
        height: 280px;
        width: 380px;
    }

    .welcome-heading-container {
        background-color: #33ff74;
        text-align: center;
    }

    .history-heading {
        font-size: 30px;
        text-align: center;
    }

    /* history know more section videos */

    .know-more-container {
        text-align: center;
    }

    .font-size {
        font-size: 20px;
    }


    .mudu-park-video-container {
        /* background-color: antiquewhite; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .mudu-park-video-div {
        width: 290px !important;
        height: 270px !important;
        margin: 20px;
        position: relative;
        align-items: center;
    }


    .iframe-mudu-park-video-div {
        position: absolute;
        left: 0;
        top: 0;
    }


}


@media screen and (min-width:770px) and (max-width:1200px) {
    .navbar-container {
        padding: 5px;

    }

    .navbar-logo-1 {
        height: 80px;
        margin: 5px;
        margin-top: -1px;

    }

    .navbar-logo-2 {
        height: 37px;
        margin: 5px;
        margin-top: 20px;

    }

    .menu {
        margin: 20px;
        font-size: 18px;
    }


    .signup-btn {
        padding: 9px 15px;
        font-size: 13px;
    }

    /* body section */

    .head-img {
        height: 350px;

    }

    .head-img-text {

        top: 140px;
        left: 80px;
        font-size: 27px;
        padding: 10px;
    }

    .head-img-btn {
        padding: 8px 14px;
        position: absolute;
        bottom: 270px;
        left: 90px;
        font-size: 17px;
    }

    /* special animal info  */

    .special-animal-container {

        /* background-color: aqua; */
        height: auto;
        flex-direction: column;
        align-items: center;


    }

    .special-animal-heading {
        font-size: 20px;
    }

    .spe-animal-desc-container {
        /* background-color: #33ff74; */
        height: auto;
        width: 640px;
        padding: 20px;
        font-family: "Anta", sans-serif;

    }

    .special-animal-desc {

        font-size: 14px;
    }

    .special-animal-img-container {
        /* background-color: rgb(255, 179, 0); */
        height: 340px;
        align-items: center;

    }


    .spe-animal-img {
        height: 280px;
        width: 380px;
        margin: 30px;
    }

    /* history section */



    .history-container {
        padding: 10px;
        /* background-color: #33ff74; */
        display: flex;
        flex-wrap: wrap;
        height: auto;
        text-align: center;

    }

    .welcome-heading {
        font-size: 25px;
    }


    .history-desc-container {
        height: auto;
        width: 600px;
        margin: 30px;
        font-size: 14px;
    }

    .history-img-container {
        /* background-color: aqua; */

    }

    .history-img {
        height: 280px;
        width: 380px;
    }

    .welcome-heading-container {
        background-color: #33ff74;
        text-align: center;
    }

    .history-heading {
        font-size: 30px;
        text-align: center;
    }

    /* history know more section videos */

    .know-more-container {
        text-align: center;
    }

    .font-size {
        font-size: 20px;
    }


    .mudu-park-video-container {
        /* background-color: antiquewhite; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .mudu-park-video-div {
        width: 290px !important;
        height: 270px !important;
        margin: 20px;
        position: relative;
        align-items: center;
    }


    .iframe-mudu-park-video-div {
        position: absolute;
        left: 0;
        top: 0;
    }


}


/* season card section */


.main-card-season-container{ 
    height: 400px;
    margin: 50px auto;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
}
.season-card-container{
    width: 350px;
    height: 400px;
    padding-top: 10px;
    border-radius: 5px;
}
.border-color-1{
    border: 3px solid yellow;
}
.border-color-2{
    border: 3px solid skyblue;
}
.border-color-3{
    border: 3px solid aquamarine;
}
.season-container{  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin: 0 auto;
    transition: 0.1;
}
.season-container:hover{
    width:110px ;   
}
.season-name{
    font-family: "Anta", sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
   font-size: 24px;
}
.season-desc{
    font-family: "Anta", sans-serif;
    font-size: 16px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:10px ;
    padding-bottom: 10px;
}
.heading-name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: green;
}
.season-color-container{
    background-color: yellow;
}
.season-color-container-1{
    background-color: skyblue;
}
.season-color-container-2{
    background-color:aquamarine ;
    
}



/* Near attraction cards section */
.near-attraction-heading{
    text-align: center;
}

.near-attractions-card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: antiquewhite; */
    height: 400px;
    padding: 10px;
}

.near-attraction-card{
    height: 330px;
    width: 250px;
    background-color: #ffffcc;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ffff1a;
   
    
}

.near-attraction-img{
    height: 180px;
    width: 240px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
   
}

.near-attraction-text{
    text-align: center;
}

.near-attra-desc{
  text-align: center;
}























/* footer section */

.body{
    border: none;
}
.brand-logo{
    width: 130px;
    padding-top: 20px;
}


.hedding-container{
    font-family: "Anta", sans-serif;  
    display: inline-block;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 10px;
   
    background-color: black !important;
}
.footer-heading{
    color: white;
    font-size: 13px;
    padding-top: 40px;
    
}
.social-media-image{
    width: 20px;
}

.headding{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.address{
    color: white;
    
}
.under-line{
    text-decoration-color: rgb(255, 123, 0);
    margin-top: 10px;
}


